---
layout: page
title: Our work
permalink: "/work/"
excerpt: A selection of recent work done by Savas
---
<div class="page-work">
  <div class="case-studies">
    <h2>Recent case studies</h2>
    {% assign items = site.case-studies | sort: 'weight' %}
    {% for item in items %}
    <div class="case-studies__case-study" style="background-image: url({{ item.client_hero_image }});">
      <div class="case-study__title">
        <h3><a href="{{ item.url }}">{{ item.project_title }}</a></h3>
      </div>
      <div class="case-study__description">
        {{ item.project_description | markdownify }}
        <a href="{{ item.url }}">Read more <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
    {% endfor %}
  </div>

  <h2>Other work</h2>
  <div class="flex-container">
    <div class="cards">
      {% for portfolio in site.work %}
      <div class="card work-card">
        <a href="{{ portfolio.url }}">
          <div class="card-image">
            <img alt="{{ portfolio.title }}" src="{{ base.url }}/{{ portfolio.image }}">
          </div>
          <div class="card-header">
            {{ portfolio.title }}
          </div>
          <div class="card-copy">
            <p>{{ portfolio.short_description }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
